.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 1rem 2.5rem;
  background-color: black;
  color: white;
}
.parent-div {
    max-width: 40rem;
    margin: auto;
    height: 100%;
    margin-top: 10%;
}