<ion-app>
  <ion-split-pane contentId="main-content">
    <!--  the side menu  -->
    <ion-menu
      menuId="main-menu"
      contentId="main-content"
      [class.web]="global.returnIsDesktop()"
    >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="main-list">
          <ion-item (click)="openPage('call')">Make a Call</ion-item>
          <ion-item (click)="openPage('conference')">Join a Conference</ion-item>
          <ion-item class="profile-item">Profile</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
