<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Conference India</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
  <div>
    <div id="remote-container"></div>
    <div id="local-container"></div>
  </div>
  <ion-list *ngIf="!conferenceEnabled">
    <ion-item>
      <ion-input
        type="text"
        value=""
        placeholder="Enter conference ID"
        [(ngModel)]="conferenceName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="joinConference(conferenceName)" expand="full">
        Join a conference</ion-button
      >
    </ion-item>
  </ion-list>

  <ion-row class="hangup-btn-row" *ngIf="conferenceEnabled">
    <ion-col>
      <ion-button
        class="hangup-btn"
        expand="full"
        fill="outline"
        (click)="leaceConference()"
        color="danger"
        >Hangup</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
