.enable-conference-btn {
  border: 1px solid blue;
}
.enable-call-btn {
  border: 1px solid yellow;
}
.icon-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}